<h1 class="text-4xl font-bold text-center mb-10">Editing Habit</h1>
<%= render "form", habit: @habit %>
<div class="text-center mt-8">
  <%= link_to "Back to Dashboard", root_path, class: "text-indigo-600 hover:underline text-xl" %>
</div>
